@using Blazor_app.Services
@using PRAM_lib.Machine
@inject CodeEditorService codeEditor
@inject PramMachine pramMachine

<style>
    .compiled-code-container {
        background-color: lightgray;
        padding: 10px;
        border-radius: 5px;
        white-space: pre;
    }

    .current-line {
        color: black;
        background-color: dodgerblue;
    }

    .comment {
        color: green;
    }

    .jump {
        color: darkred;
    }

    .label-jump {
        color: mediumblue;
    }
</style>


@if (codeEditor.EditMode)
{
    <textarea @bind="codeEditor.Code" rows="@textAreaRows" class="form-control"></textarea>
}
else
{
    <div class="compiled-code-container">
        @foreach (var line in codeEditor.CompiledLines)
        {
            <div class="@GetLineClass(line.Key)">
                @line.Value
            </div>
        }
    </div>
}

@code {
    private int textAreaRows => codeEditor.Code.Split('\n').Length;

    protected override void OnInitialized()
    {
        codeEditor.EditorStateChanged += StateHasChanged;
    }

    private string GetLineClass(int lineIndex)
    {
        if (lineIndex == codeEditor.CurrentExecutingLine)
        {
            return "current-line";
        }

        if (pramMachine.InstructionRegex.Comment.IsMatch(codeEditor.CompiledLines[lineIndex]))
        {
            return "comment";
        }

        if (pramMachine.InstructionRegex.IfJumpTo.IsMatch(codeEditor.CompiledLines[lineIndex]))
        {
            return "jump";
        }

        if (pramMachine.InstructionRegex.JumpToLabel.IsMatch(codeEditor.CompiledLines[lineIndex]))
        {
            return "label-jump";
        }



        return "";
    }

    public void Dispose()
    {
        codeEditor.EditorStateChanged -= StateHasChanged;
    }
}