@using Blazor_app.Services
@using PRAM_lib.Machine
@inject GlobalService globalService
@inject ExecutionService execService
@inject PramCodeViewService pramCodeViewService

<style>
    .button-group {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .button-group .btn:not(:last-child) {
        margin-right: 3px;
    }
</style>

<div class="button-group">
    @if (globalService.SaveHistory)
    {
        <button class="btn btn-primary" @onclick="StepBackward">🔺 Step back</button>
    }
    <button class="btn btn-primary" @onclick="StepForward">🟢 Step forward</button>
    <button class="btn btn-primary" @onclick="RunUntilBreakpoint">🔴 Run Until Breakpoint</button>
    <button class="btn btn-primary" @onclick="ToggleAutoRun">⏯ Auto Run</button>
    <button class="btn btn-primary" @onclick="Reset">🧹 Reset</button>
</div>


@code {

    protected override void OnInitialized()
    {
        SubscribeToEvents();
        ResolveResetHistorySteps();
    }

    private void SubscribeToEvents()
    {
    }

    // UNUSED Reset history steps
    bool showResetHistorySteps = false;
    private void ResolveResetHistorySteps()
    {
        if (execService.IsInHistory)
        {
            if (!showResetHistorySteps)
            {
                showResetHistorySteps = true;
                StateHasChanged();
            }
        }
        else
        {
            if (showResetHistorySteps)
            {
                showResetHistorySteps = false;
                StateHasChanged();
            }
        }
    }

    //UNUSED
    private void ResetHistorySteps()
    {
        execService.StepToPresent();
        ResolveResetHistorySteps();
    }

    private void Reset()
    {
        execService.ResetMachine();
    }

    private void ClearMemories()
    {
        execService.ClearMemories();
    }

    private void StepForward()
    {
        execService.StepForward();
        ResolveResetHistorySteps();
    }

    private void StepBackward()
    {
        execService.StepBackward();
        ResolveResetHistorySteps();
    }

    private void ToggleAutoRun()
    {
        execService.ToggleAutoRun();
        ResolveResetHistorySteps();
    }

    private void RunUntilBreakpoint()
    {
        execService.RunUntilBreakpoint();
        ResolveResetHistorySteps();
    }

    public void Dispose()
    {
    }
}
