
<div class="top-row navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">PRAM Simulator</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="@NavMenuCssClass navbar-collapse custom-collapse">
            <nav class="navbar-nav">
                <NavLink class="nav-item nav-link" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                </NavLink>
                <NavLink class="nav-item nav-link" href="pramview">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Pram view
                </NavLink>
                <NavLink class="nav-item nav-link" href="counter">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Test p1
                </NavLink>
                <NavLink class="nav-item nav-link" href="weather">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Test p2
                </NavLink>

            </nav>
        </div>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;


    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}