@page "/settings"
@inject NavigationManager navigationManager

<h3>Settings</h3>

<div class="container mt-5">
    <h3 class="text-center mb-4">Settings</h3>

    <div class="d-flex flex-column align-items-center">
        <div class="form-group w-50 mb-3">
            <p>Editing the instruction regex of the machine is not officially supported and may expose critical aspects of its internal functionality. Please proceed with caution.</p>
            <button type="button" class="btn btn-primary"
                    @onclick="NavigateToRegexSettings">
                I understand, continue
            </button>
        </div>
    </div>
</div>

@code {

    private void NavigateToRegexSettings()
    {
        navigationManager.NavigateTo("/regexsettings");
    }
}
