@page "/"
@using Blazor_app.Services
@using PRAM_lib.Machine
@using PRAM_lib.Memory
@inject PramMachine pramMachine
@inject GlobalService globalService
@inject RefreshService refreshService
@inject CodeEditorService codeEditorService

<PageTitle>PRAM Simulator</PageTitle>

<style>

    .overlay_popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
    }

    .popup {
        position: fixed;
        background-color: white;
        border: 1px solid #ddd;
        padding: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
    }

</style>

<div class="container">
    <div class="row">
        <div class="col">
            <Blazor_app.Components.CodeEditor />
        </div>
        <div class="col">
            <div class="text-center">
                Input Memory
            </div>
            <Blazor_app.Components.Memory.AnyMemory MemoryItems="@pramMachine.GetInputMemory()" />
            <div class="text-center">
                <button class="btn btn-primary" @onclick="AddInputCell">Add Cell</button>
            </div>
        </div>
        <div class="col">
            <div class="text-center">
                Shared Memory
            </div>
            <Blazor_app.Components.Memory.AnyMemory MemoryItems="@pramMachine.GetSharedMemory()" />
            <div class="text-center">
                <button class="btn btn-primary" @onclick="AddSharedMemoryCell">Add Cell</button>
            </div>
        </div>
        <div class="col">
            <div class="text-center">
                Output Memory
            </div>
            <Blazor_app.Components.Memory.AnyMemory MemoryItems="@pramMachine.GetOutputMemory()" />
            <div class="text-center">
                <button class="btn btn-primary" @onclick="AddSharedMemoryCell">Add Cell</button>
            </div>
        </div>
    </div>
</div>

<button class="btn btn-primary" @onclick="testAdd">Test Set</button>
<button class="btn btn-primary" @onclick="Compile">Compile</button>
<button class="btn btn-primary" @onclick="NextExecutionStep">Next Execution Step</button>

@if (showPopup)
{
    <div class="overlay_popup"></div>
    <div class="popup">
        <div class="text-center font-weight-bold mb-2">
            <span>Exception:</span>
        </div>
        <div class="text-center mb-2">
            <span>@popupMessage</span>
        </div>
        <div class="text-center mt-2">
            <button class="btn btn-primary" @onclick="ClosePopup">Close</button>
        </div>
    </div>
}



@code {
    // Popup
    private bool showPopup = false;
    private string popupMessage = "";
    private void ShowPopup(string message)
    {
        popupMessage = message;
        showPopup = true;
    }

    private void ClosePopup()
    {
        showPopup = false;
    }
    // -----------------------------

    private void AddSharedMemoryCell()
    {
        pramMachine.GetSharedMemory().Add(new MemoryCell());
    }

    private void AddInputCell()
    {
        pramMachine.GetInputMemory().Add(new MemoryCell());
    }

    private void testAdd()
    {
        pramMachine.GetSharedMemory()[2].Value = 5000;
        refreshService.RefreshMemory();
    }

    private void Compile()
    {
        codeEditorService.Save();
        pramMachine.Compile(codeEditorService.Code);

        if (pramMachine.IsCompiled)
        {
            globalService.SetLastState("Compilation successful", GlobalService.LastStateUniform.Ok);
        }
        else
        {
            globalService.SetLastState($"Compilation failed: {pramMachine.CompilationErrorMessage}", GlobalService.LastStateUniform.Error);
        }


    }

    private void NextExecutionStep()
    {
        bool result = pramMachine.ExecuteNextInstruction();
        if (!result)
        {
            globalService.SetLastState($"Execution stop: {pramMachine.ExecutionErrorMessage}", GlobalService.LastStateUniform.Note);
        }
    }
}