@page "/"
@using Blazor_app.Services
@using PRAM_lib.Machine
@using PRAM_lib.Memory
@inject PramMachine pramMachine
@inject GlobalService globalService
@inject RefreshService refreshService
@inject CodeEditorService codeEditorService
@inject NavigationManager NavigationManager

<PageTitle>PRAM Simulator</PageTitle>

<style>

    .overlay_popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
    }

    .popup {
        position: fixed;
        background-color: white;
        border: 1px solid #ddd;
        padding: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
    }

</style>

<Blazor_app.Components.CommonControls />

<div class="container my-2 mt-2">
    <div class="row">
        <div class="col">

            @if (codeEditorService.EditMode)
            {
                <div class="container mb-2 mx-3">
                    <button @onclick="codeEditorService.CancelEditMode" class="btn btn-danger">Cancel</button>
                    <button @onclick="CompileCode" class="btn btn-primary me-2">Compile</button>
                </div>
            }
            else
            {
                <div class="container mb-2 mx-3">
                    <button @onclick="EditCode" class="btn btn-secondary">Edit</button>
                </div>
            }

            <Blazor_app.Components.CodeEditor />
        </div>
        <div class="col">
            <div class="text-center">
                <h4>Input</h4>
            </div>

            <div class="text-center my-1">
                <button class="btn btn-secondary" @onclick="ClearInputMemory">Clear</button>
            </div>

            <Blazor_app.Components.Memory.AnyMemory MemoryItems="@pramMachine.GetInputMemory()" />
            <div class="text-center">
                <button class="btn btn-primary" @onclick="AddInputCell">Add Cell</button>
            </div>
        </div>
        <div class="col">
            <div class="text-center">
                <h4>Shared Memory</h4>
            </div>

            <div class="text-center my-1">
                <button class="btn btn-secondary" @onclick="ClearSharedMemory">Clear</button>
            </div>
            <Blazor_app.Components.Memory.AnyMemory MemoryItems="@pramMachine.GetSharedMemory()" />
            <div class="text-center">
                <button class="btn btn-primary" @onclick="AddSharedMemoryCell">Add Cell</button>
            </div>
        </div>
        <div class="col">
            <div class="text-center">
                <h4>Output</h4>
            </div>

            <div class="text-center">
                <button class="btn btn-secondary my-1" @onclick="ClearOutputMemory">Clear</button>
            </div>
            <Blazor_app.Components.Memory.AnyMemory MemoryItems="@pramMachine.GetOutputMemory()" />
            <div class="text-center">
                <button class="btn btn-primary" @onclick="AddSharedMemoryCell">Add Cell</button>
            </div>
        </div>
    </div>
</div>

<button class="btn btn-primary" @onclick="testAdd">Test Set</button>
<button class="btn btn-primary" @onclick="AddTestCode">Add test code</button>



@code {

    private void AddSharedMemoryCell()
    {
        pramMachine.GetSharedMemory().Add(new MemoryCell());
    }

    private void AddInputCell()
    {
        pramMachine.GetInputMemory().Add(new MemoryCell());
    }

    private void testAdd()
    {
        pramMachine.GetSharedMemory()[2].Value = 5000;
        refreshService.RefreshMemory();
    }

    private void CompileCode()
    {
        pramMachine.Compile(codeEditorService.Code);
        globalService.ResetParallelRunningState();

        if (pramMachine.IsCompiled)
        {
            globalService.SetLastState("Compilation successful", GlobalService.LastStateUniform.Ok);
            codeEditorService.CodeToCompiledMode();
        }
        else
        {
            globalService.SetLastState($"Compilation failed: {pramMachine.CompilationErrorMessage}", GlobalService.LastStateUniform.Error);
        }
    }

    private void EditCode()
    {
        codeEditorService.EditCode();
        StateHasChanged();
    }

    private void ClearInputMemory()
    {
        pramMachine.GetInputMemory().Clear();
    }

    private void ClearSharedMemory()
    {
        pramMachine.GetSharedMemory().Clear();
    }

    private void ClearOutputMemory()
    {
        pramMachine.GetOutputMemory().Clear();
    }

    private void AddTestCode()
    {
        codeEditorService.ChangeCode(globalService.TestedCode);
    }
}