.code-compiled-code-container {
    background-color: lightgray;
    padding: 10px;
    border-radius: 5px;
    white-space: pre;
}

.code-current-line {
    color: black;
    background-color: dodgerblue;
}

.code-error-line {
    color: black;
    background-color: mediumvioletred;
}

.code-ima-line {
    color: black;
    background-color: darkgoldenrod;
}

.code-comment {
    color: green;
}

.code-jump {
    color: darkred;
}

.code-label-jump {
    color: mediumblue;
}

.code-pardo {
    color: orangered;
    font-weight: bold;
}

.code-parend {
    color: darkorange;
    font-weight: bold;
}
